.sections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.sections div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}